{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.8",
        "targets": {
          "node": "12"
        }
      }
    ]
  ],
  "plugins": ["source-map-support"]
}
